<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Scraper</title>
</head>
<body>
    <div class="wrapper">
        <%- include('header.ejs', {top: 2})%>
        <div class="content">
            <div class="header-content">Настройте ваши каналы</div>
            <div class="create">Добавить канал</div>
            <div class="channels-list list">
                <div class="header-list">Каналы для отправки результатов</div>
                <div class="channels-list-item list-item"></div>
                <div class="channels-list-item list-item"></div>
                <div class="channels-list-item list-item"></div>
            </div>
        </div>
    </div>

</body>
</html>