<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Scraper</title>
</head>
<body>
    <div class="wrapper">
        <%- include('header.ejs', {top: 1})%> 
        <div class="content">
            <div class="header-content">Настройте ваши фильтры</div>
            <div class="create">Создать фильтр</div>
            <div class="filtres-list list">
                <div class="header-list">Доступные фильтры</div>
                <div class="filtres-list-item list-item">
                    <div class="list-item-nav">
                        <div class="button activate">Активировать</div>
                        <div class="button edit">Изменить</div>
                        <div class="button delete">Удалить</div>
                    </div>
                </div>
                <div class="filtres-list-item list-item">
                    <div class="list-item-nav">
                        <div class="button activate">Активировать</div>
                        <div class="button edit">Изменить</div>
                        <div class="button delete">Удалить</div>
                    </div>
                </div>
                <div class="filtres-list-item list-item">
                    <div class="list-item-nav">
                        <div class="button activate">Активировать</div>
                        <div class="button edit">Изменить</div>
                        <div class="button delete">Удалить</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>