<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Scraper</title>
</head>
<body>
    <div class="wrapper">
        <%- include('header.ejs', {top: 3})%>
        <div class="content">
            <div class="header-content">Прошедшие игры</div>
            <div class="games-list list">
                <div class="games-list-item list-item"></div>
                <div class="games-list-item list-item"></div>
                <div class="games-list-item list-item"></div>
            </div>
        </div>
    </div>

</body>
</html>