    <div class="nav">
        <a class="link-nav" href="/">Главная</a>
        <a class="link-nav" href="/filters">Фильтры</a>
        <a class="link-nav" href="/channels">Каналы</a>
        <a class="link-nav" href="/games">Игры</a>
        <div class="roller-nav" style="top: <%=top*50%>px"></div>
    </div>