body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.wrapper .content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.wrapper .content .header-content {
  margin-bottom: 15px;
  font-weight: 600;
}
.wrapper .content .create {
  width: 170px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2f2f2f;
  font-size: 0.7rem;
  font-weight: 600;
  box-sizing: border-box;
  border: 2px dashed #f50057;
  cursor: pointer;
  transition-duration: 0.3s;
  margin-bottom: 25px;
}
.wrapper .content .create:hover {
  border: 2px solid #f50057;
  background-color: #f50057;
  color: #fff;
}

.list {
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid rgba(47, 47, 47, 0.1);
}
.list .header-list {
  margin-bottom: 15px;
  margin-top: 25px;
  font-weight: 600;
  font-size: 0.6rem;
}
.list .list-item {
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-top: 1px solid rgba(245, 0, 87, 0.1);
  border-bottom: 1px solid rgba(245, 0, 87, 0.1);
  margin-bottom: 5px;
  padding-left: 10px;
  position: relative;
  min-height: 100px;
}
.list .list-item .filter-name {
  color: #2f2f2f;
  font-size: 0.9rem;
  font-weight: 600;
}
.list .list-item .filter-sport {
  margin-top: 10px;
  color: #2f2f2f;
  font-size: 0.9rem;
}
.list .list-item .list-item-nav {
  display: flex;
  align-self: flex-end;
  position: absolute;
  bottom: 10px;
  right: 0px;
}
.list .list-item .list-item-nav .button {
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 600;
  color: #fff;
  transition-duration: 0.3s;
  box-sizing: border-box;
  border: 2px solid transparent;
}
.list .list-item .list-item-nav .activate {
  background-color: #639a67;
}
.list .list-item .list-item-nav .activate:hover {
  color: #639a67;
  background-color: #fff;
  border: 2px solid #639a67;
}
.list .list-item .list-item-nav .inactivate {
  background-color: #dbdbdb;
  color: #2f2f2f;
}
.list .list-item .list-item-nav .inactivate:hover {
  background-color: #f50057;
  color: #fff;
}
.list .list-item .list-item-nav .edit {
  background-color: #00a8cc;
  margin-right: 10px;
  margin-left: 10px;
}
.list .list-item .list-item-nav .edit:hover {
  color: #00a8cc;
  background-color: #fff;
  border: 2px solid #00a8cc;
}
.list .list-item .list-item-nav .delete {
  background-color: #f50057;
}
.list .list-item .list-item-nav .delete:hover {
  color: #f50057;
  background-color: #fff;
  border: 2px solid #f50057;
}

.channel-info {
  color: #2f2f2f;
  font-size: 0.9rem;
  font-weight: 600;
}

.nav {
  min-width: 200px;
  box-sizing: border-box;
  position: relative;
}

.roller-nav {
  position: absolute;
  transition-duration: 0.3s;
  right: -1px;
  top: 0;
  width: 2px;
  height: 50px;
  background-color: #f50057;
}

.link-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: #2f2f2f;
  font-size: 0.75rem;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 0px 30px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.link-nav:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.create-filter-popup, .create-channel-popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}
.create-filter-popup .create-filter-popup-wrap, .create-filter-popup .create-channel-popup-wrap, .create-channel-popup .create-filter-popup-wrap, .create-channel-popup .create-channel-popup-wrap {
  padding: 10px;
  height: 90%;
  width: 90%;
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.create-filter-popup .create-filter-popup-wrap .close-popup, .create-filter-popup .create-channel-popup-wrap .close-popup, .create-channel-popup .create-filter-popup-wrap .close-popup, .create-channel-popup .create-channel-popup-wrap .close-popup {
  position: absolute;
  right: 15px;
  top: 15px;
  font-weight: 600;
  font-size: 0.8rem;
  color: #2f2f2f;
  cursor: pointer;
  transition-duration: 0.3s;
}
.create-filter-popup .create-filter-popup-wrap .close-popup:hover, .create-filter-popup .create-channel-popup-wrap .close-popup:hover, .create-channel-popup .create-filter-popup-wrap .close-popup:hover, .create-channel-popup .create-channel-popup-wrap .close-popup:hover {
  color: #f50057;
}

.create-channel-popup-wrap {
  flex-direction: column;
}

.column-create {
  height: 100%;
  width: 30%;
  padding: 0px 10px;
  min-width: 400px;
}

.start-setting {
  box-sizing: border-box;
  border-right: 1px solid rgba(47, 47, 47, 0.2);
}

.channels-list-item {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row !important;
}
.channels-list-item span {
  margin-right: 15px;
}

.filter-text, .channel-text {
  font-weight: 600;
  font-size: 0.8rem;
  color: #2f2f2f;
  margin-top: 15px;
  margin-bottom: 15px;
}

input {
  font-weight: 600;
  font-size: 0.7rem;
  color: #2f2f2f;
  outline: none;
  border: none;
  box-sizing: border-box;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(47, 47, 47, 0.5);
}

select {
  cursor: pointer;
  width: 150px;
  font-weight: 600;
  font-size: 0.7rem;
  color: #2f2f2f;
  padding: 5px 10px;
  position: relative;
  outline: none;
}

label {
  cursor: pointer;
}

.small-input {
  width: 60px;
  height: 33px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 0.8rem;
}

.line-scrap {
  margin-bottom: 30px;
}

.scrap-item {
  display: flex;
}

.line-scrap-item-name {
  margin-right: 10px;
  width: 220px;
}

.sport-setting {
  display: none;
}

.live-scrap-basketball {
  display: none;
}

.live-scrap-volleyball {
  display: none;
}

.live-scrap-tennis {
  display: none;
}

.nav-btns {
  position: absolute;
  display: flex;
  bottom: 15px;
  right: 15px;
}
.nav-btns .button {
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 600;
  color: #fff;
  transition-duration: 0.3s;
  box-sizing: border-box;
  border: 2px solid transparent;
}
.nav-btns .save, .nav-btns .edition {
  background-color: #639a67;
  margin-right: 10px;
}
.nav-btns .save:hover, .nav-btns .edition:hover {
  color: #639a67;
  background-color: #fff;
  border: 2px solid #639a67;
}
.nav-btns .cancel {
  background-color: #f50057;
}
.nav-btns .cancel:hover {
  color: #f50057;
  background-color: #fff;
  border: 2px solid #f50057;
}

.table-games {
  padding: 10px;
  box-sizing: border-box;
}

.table-games, .games-list-item {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.table-games span, .games-list-item span {
  width: 200px;
}
.table-games .players, .games-list-item .players {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}